html, body {
	padding: 0;
	margin: 0;
	/* height: 100%; */
}
body {
	background: #555;
	overflow: hidden;
	font-size: calc(12px + 0.75vmin);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

dialog {
	padding: 5vmin;
	min-width: 40vw;
	background: #3e3b66;
	border: solid 2px #4a5786;
	box-shadow: 0.2em 1em 1em #0005;
	color: #6fb0b7;
	text-align: center;
}
dialog::backdrop {
	background: #2d1e2f77;
}

button {
	display: block;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	background: #3f5b7477;
	border: solid 1px #488885;
	color: #64b082;
	font-weight: bold;
	font-size: inherit;
	cursor: pointer;
	transition: 0.05s ease-in-out;
}
button:hover {
	border-color: #fcecd1;
}
button:active {
	transform: scale(0.93);
}

input {
	font-size: inherit;
	padding: 0.2em;
	border: solid 1px #4a5786;
	background: #392945;
	color: #fcecd1;
}
input:read-only {
	background: transparent;
}

.key-hint {
	color: #a0ddd3;
}
.key-hint::before {
	content: "[";
}
.key-hint::after {
	content: "]";
}

#ui {
	position: absolute;
	top: 0;
	/*
	bottom: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	*/
	width: 100%;
	padding: 0;
	color: #c3a79c;
	text-align: center;
	/*
	border: solid 2px #00ffff;
    box-sizing: border-box;
	*/
}

.top-ui-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* border: solid 1px blue; */
	gap: 1em;
	padding: 1em;
}

.top-ui-row > div {
	/* border: solid 1px red; */
}


#conn-details {
	text-align: left;
}
#conn-details button {
	display: inline-block;
}
#current-connection {
	display: inline-block;
	margin: 0 0 0 1em;
}


#scores {

}
#throttle {
	/* position: absolute; */
	left: 1vmin;
	top: 4em;
	width: 10em;
	text-align: left;
}

#death {
	background: #2d1e2f;
	border-color: #3e3b66;
	color: #a94b54;
}
#death .notice {
	font-size: 2em;
}
#death button {
	margin: 3vmin auto 0 auto;
}


#controls {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 12vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#controls button {
	height: 10vh;
	width: calc(5em + 10vmin);
	margin: 1em;
	background: #3f5b7433;
}

#p2p-dialog {
	text-align: left;
}
.host-title, .hosting-title, .hosting-tip, .host-action,
.connect-title, .connected-title, .connect-action {
	display: none;
}
.p2p-connected .host-title,
.p2p-hosting .hosting-title,
.p2p-hosting .hosting-tip,
.p2p-connected .host-action,
.p2p-hosting .connect-title,
.p2p-connected .connected-title,
.p2p-hosting .connect-action {
	display: block;
}

#p2p-dialog h1 {
	margin: 0;
}
#p2p-dialog header {
	display: flex;
	justify-content: space-between;
}

.or-divider {
	margin: 2.5em 0 1em 0;
	border-top: solid 1px #577f9d;
}
.or-divider > div {
	position: relative;
	top: -0.5em;
	width: 3em;
	left: calc(50% - 1.5em);
	background: #3e3b66;
	text-align: center;
}

